:root {
    --primary-color: green;
    --secondary-color: lightblue;
    --font-main: Arial, Helvetica, sans-serif;;
}


body {
    background: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}